<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Test Suite" >
   <test thread-count="5" name="API Rest Assured Test">
       <classes>
           <class name ="api.testcases.userTests"></class>
<!--           <class name ="api.testcases.DDTests"></class>-->
       </classes>
   </test>
</suite>